!!! 5
%html
  %head
    %title Jacob's Website
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload"
    = javascript_importmap_tags 
  %body
    = render 'layouts/navbar'
    .container.mt-5
      - flash.each do |key, value|
        -alert_type = key == "notice" ? "success" : key == "alert" ? "danger" : "key"
        .alert.alert-dismissible{class: "alert-#{alert_type}"}
          %button.btn-close{"data-bs-dismiss" => "alert", type: "button"}
          %p.mb-0= value
      = yield

  